<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.test.reservation.model.mapper.ReservationMapper">


    <insert id="insertReservation">
        INSERT INTO reservations (user_id, resource_id, start_time, end_time)
        VALUES (#{userId}, #{resourceId}, #{startTime}, #{endTime})
    </insert>


    <resultMap id="ReservationResultMap" type="com.ssafy.test.reservation.model.Reservations">
        <id column="reservation_id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="resource_name" property="resourceName"/>
    </resultMap>

    <select id="getAllReservations" resultMap="ReservationResultMap" parameterType="String">
        SELECT r.reservation_id  AS reservation_id,
               r.user_id         AS user_id,
               r.resource_id     AS resource_id,
               r.start_time      AS start_time,
               r.end_time        AS end_time,
               res.resource_name AS resource_name
        FROM reservations r
                 JOIN resources res ON r.resource_id = res.resource_id
        WHERE r.user_id = #{userId}
    </select>

    <delete id="deleteReservation" parameterType="long">
        DELETE
        FROM reservations
        WHERE reservation_id = #{reservationId}
    </delete>

    <select id="getFilteredReservations" parameterType="map" resultMap="ReservationResultMap">
        SELECT r.reservation_id AS reservation_id,
        r.user_id AS user_id,
        r.resource_id AS resource_id,
        r.start_time AS start_time,
        r.end_time AS end_time,
        res.resource_name AS resource_name
        FROM reservations r
        JOIN resources res ON r.resource_id = res.resource_id
        <where>
            <if test="date != null">
                AND DATE(r.start_time) = #{date}
            </if>
            <if test="resourceId != null and resourceId != 0">
                AND r.resource_id = #{resourceId}
            </if>
        </where>
    </select>

</mapper>